name: Generate JSDoc Documentation

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up node
      uses: actions/setup-node@v4

    - name: Install dependencies
      run: npm install
      
    - name: Run tests
      run: npm run test

    - name : Install JsDoc
      run : npm install -g jsdoc

    - name: Generate Documentation
      run: jsdoc *.js

    - name: Deploy Documentation
    
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./out
